a {
    text-decoration: none;
    color: #312132;
}

h2 a {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #FF6046;
    font-size: 30px;
}

h2 a:hover {
    font-size: 35px;
}