/* @media (max-width: 1024px) {

} */

@media (min-width: 800px) {
    #touch {
        display: none;
    }
}

@media (max-width: 935px) {
    #startImage {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (orientation: portrait) {
    #turn {
        display: inline;
    }

    #title {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    #title {
        display: none;
    }
}