body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/startscreen.png');
    /* background-image: url('./img/background.png'); */
    color: #FF6046;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 1920px;
}

canvas {
    background-color: black;
    display: block;
}

html {
    font-family: "GrechenFuemen", "Regular";
}

@font-face {
    font-family: GrechenFuemen;

    src: url('./fonts/Grechen_Fuemen/GrechenFuemen-Regular.ttf');
}

.d-none {
    display: none;
}

.flex {
    display: flex;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cursorPointer {
    cursor: pointer;
}

.logo {
    border-radius: 100%;
}

h1 {
    font-size: 100px;
    margin: 0;
    text-shadow: 4px 4px 8px #312132;
}

p {
    font-size: 30px;
    margin: 0;
    color: #312132;
}

.menu {
    display: flex;
    gap: 12px;
}

#backToMenu img {
    width: 50px;
    height: 50px;
}

#backToMenu:hover img {
    transform: scale(1.2);
    transition: transform 4s ease-out;
    transition-behavior: normal;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-property: transform;
}

.soundbar img {
    width: 50px;
    height: 50px;
}

.dropdownControl {
    display: flex;
    background-color: #FF6046;
    border-radius: 12px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

#dropdownControl {
    position: absolute;
    top: 50px;
    background-color: #FF6046;
    border-radius: 12px;
    padding: 8px;
}

#dropdownControl img {
    width: 50px;
    height: 50px;
}

.dropdownControl,
#dropdownControl,
footer a {
    font-size: 20px;
    color: #312132;
    text-decoration: none;
}

#turn {
    position: absolute;
    background-color: #7B3047;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

#turn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: -webkit-fill-available;
}

footer:hover a {
    font-size: 25px;
}


/* Media Queries */
@media only screen and (orientation: portrait) and (max-width: 720px) {
    #turn {
        display: inline;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    #turn {
        display: inline;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}