* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FF6046;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.startscreen {
    background-image: url('./img/startscreen.png');
}

body.game {
    background-image: url('./img/background.png');
}


canvas {
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
    background-color: black;
    display: block;
    border: 5px solid white;
}

html {
    font-family: "GrechenFuemen", "Regular";
}

@font-face {
    font-family: GrechenFuemen;

    src: url('./fonts/Grechen_Fuemen/GrechenFuemen-Regular.ttf');
}

.d-none {
    display: none;
}

.flex {
    display: flex;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cursorPointer {
    cursor: pointer;
}

#title {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.logo {
    border-radius: 100%;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    margin: 0;
    text-shadow: 4px 4px 8px #312132;
}

p {
    font-size: 30px;
    margin: 0;
    color: #312132;
}

#restart {
    font-size: 50px;
    position: absolute;
    text-shadow: 0 0 0 white;
    top: 255px;
    z-index: 1;
}

#restart img {
    width: 50px;
    height: 50px;
}

#restart img:hover,
#backToMenuButton img:hover {
    transform: scale(1.2);
    transition: transform 4s ease-out;
    transition-behavior: normal;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-property: transform;
}

.menu {
    position: absolute;
    width: 200px;
    height: 50px;
    z-index: 1;
    margin-bottom: 50px;
}

#backToMenu {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#backToMenuButton {
    font-size: 50px;
    position: absolute;
    text-shadow: 0 0 0 white;
    top: 310px;
    z-index: 1;
}

.backToMenuButton {
    width: 50px;
    height: 50px;
}

#backToMenu:hover img {
    transform: scale(1.2);
    transition: transform 4s ease-out;
    transition-behavior: normal;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-property: transform;
}

.soundbar {
    /* display: flex; */
    position: absolute;
    top: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
}

.soundbar img {
    width: 50px;
    height: 50px;
}

.dropdownControl {
    display: flex;
    background-color: #FF6046;
    border-radius: 12px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

#dropdownControl {
    position: absolute;
    top: 50px;
    background-color: #FF6046;
    border-radius: 12px;
    padding: 8px;
}

#dropdownControl img {
    width: 50px;
    height: 50px;
}

.dropdownControl,
#dropdownControl,
footer a {
    font-size: 20px;
    color: #312132;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #51FFD5;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 50px;
}

#touch {
    /* display: none; */
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

#touch img {
    width: 50px;
    height: 50px;
}

#turn {
    position: absolute;
    background-color: #7B3047;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

#turn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: -webkit-fill-available;
}

#game {
    width: 100%;
    height: 100%;
    /* display: none; */
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 720px;
    max-height: 480px;
}

#controlButton {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#control {
    display: flex;
    justify-content: space-around;
}

footer:hover a {
    font-size: 25px;
}

#impressum {
    height: 100vh;
    position: absolute;
}

h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #FF6046;
    font-size: 30px;
}

h2:hover {
    font-size: 35px;
}

a {
    text-decoration: none;
    color: #312132;
}