body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    background-color: black;
}

html {
    font-family: "GrechenFuemen", "Regular";
}

@font-face {
    font-family: GrechenFuemen;

    src: url('../fonts/Grechen_Fuemen/GrechenFuemen-Regular.ttf');
}